<!DOCTYPE html>
<html>
  <head>
    <title><%= username %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>UID : <%= id %></p>
    <p>user name : <%= username %></p>
    <p>twitter ID : <%= twitterid %></p>
  </body>
</html>
